@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* Custom Reset */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #fff7e6;
}

a.active,
a:focus,
button:focus,
button.active {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  box-shadow: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

img {
  border-style: none;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/****** HEADER *****/

header {
  background-color: #ffbb36;
  padding: 21px 20px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-inner h4 {
  color: #fff;
  font-weight: 700;
  position: relative;
  z-index: 10;
  font-size: 24px;
}

.header-inner p {
  color: #fff;
  font-weight: 400;
  position: relative;
  z-index: 10;
  font-size: 22px;
}
.container {
  width: 80%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  padding-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}
.top-fruit {
  text-align: center;
  margin: -46px 0 0 0;
}

.top-fruit h4 {
  position: relative;
  margin: 35px 0 0 0;
}

.top-fruit h4::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  height: 3px;
  background-color: #ede6d6;
}

.top-fruit h4 span {
  color: #4c4a45;
  font-weight: 400;
  font-size: 24px;
  background-color: #fff7e6;
  display: inline-block;
  position: relative;
  z-index: 10;
  padding: 0 20px;
  text-transform: uppercase;
}

.fruit-box {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  padding: 34px 42px;
  align-items: center;
  position: relative;
  margin-top: 34px;
  box-shadow: #ede6d6 5px 5px 0px;
  cursor: pointer;
}

.fruit-box .image-holder {
  max-width: 140px;
  width: 100%;
}

.fruit-box .text-box {
  flex: 1;
  width: 100%;
  padding: 0 0 0 30px;
}

.fruit-box .text-box h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 17px 0;
}

.fruit-box .text-box h4 span {
  font-weight: 300;
  color: #929292;
  font-size: 20px;
  display: inline-block;
  margin-left: 3px;
}

.fruit-box .text-box p {
  padding: 0 0 0 15px;
  color: #797979;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.tag {
  background-color: #8ccc4e;
  padding: 4px 25px;
  position: absolute;
  top: 26px;
  right: 0;
}

.tag::after {
  position: absolute;
  content: "";
  left: -22px;
  top: 0;
  background: url(../img/green-shape.png) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 22px;
  height: 38px;
}

.tag span {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.tag span small {
  font-weight: 400;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  max-width: 320px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-header {
  background: inherit;
  padding: 15px;
  color: #4c4a45;
  text-align: center;
}

.modal-body {
  padding: 10px 20px;
  text-align: center;
}
.modal-body img {
  width: 80px;
  height: 80px;
}

.modal-footer {
  padding: 10px;
  color: #fff;
  text-align: center;
}
.modal-footer button {
  width: 100px;
  height: 40px;
  background-color: #ffbb36;
  border: #ffbb36;
  border-radius: 5px;
  cursor: pointer;
}

.closeBtn {
  font-size: 30px;
  color: #ffbb36;
  float: right;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #ffbb36;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .header-inner h4 {
    font-size: 18px;
  }

  .header-inner p {
    font-size: 16px;
  }

  .fruit-box {
    padding: 25px 20px;
  }

  .fruit-box .text-box {
    padding: 0 0 0 15px;
  }

  .fruit-box .text-box p {
    padding: 0 0 0 5px;
    font-size: 12px;
    line-height: 20px;
  }
  .modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  header {
    padding: 15px 0;
  }

  .header-inner p {
    font-size: 14px;
  }

  .top-fruit img {
    height: 80px;
  }

  .top-fruit h4 {
    margin: 20px 0 0 0;
  }

  .top-fruit h4 span {
    font-size: 18px;
    padding: 0 15px;
  }

  .top-fruit {
    margin: -15px 0 0 0;
  }

  .fruit-box {
    padding: 20px;
  }

  .fruit-box .image-holder {
    max-width: 100px;
    width: 100%;
  }

  .fruit-box .text-box {
    padding: 0 0 0 10px;
  }

  .fruit-box .text-box h4 {
    font-size: 18px;
    margin: 0 0 12px 0;
  }

  .fruit-box .text-box h4 span {
    font-size: 16px;
  }

  .tag span {
    font-size: 14px;
  }

  .tag {
    padding: 5px 15px;
    top: 10px;
    right: 0;
  }

  .tag::after {
    height: 31px;
  }
  .modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 70%;
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .fruit-box {
    flex-direction: column;
    padding: 45px 20px 20px 20px;
    margin-top: 15px;
  }

  .fruit-box .image-holder {
    max-width: 200px;
    width: 100%;
  }
  .fruit-box .text-box {
    padding: 30px 0 0 0;
  }
  .fruit-box .text-box p {
    padding: 0;
  }
  .header-inner p {
    font-size: 12px;
  }
}
